<div class="alert alert-secondary mb-3">
    Dashboard / Personal info
</div>

<div class="container border-light p-3">
    <form action="">
        <div class="row justify-content-center mb-3">
            <div class="col-11">
                <div class="input-group">
                    <span class="input-group-text">First and last name</span>
                    <input type="text" aria-label="First name" class="form-control">
                    <input type="text" aria-label="Last name" class="form-control">
                </div>
            </div>
        </div>
        <div class="row justify-content-center p-5 mb-3">
            <div class="col-6">
                <input type="text" aria-label="email" class="form-control" placeholder="Enter you email address">
            </div>
            <div class="col-6">
                <input type="text" aria-label="phonenumber" class="form-control" placeholder="Enter your phone number">
            </div>
        </div>
        <div class="row justify-content-center p-5 mb-3">
            <div class="col-6">
                <div class="input-group mb-3">
                    <span class="input-group-text">Password</span>
                    <input type="text" aria-label="passsword" class="form-control" placeholder="Enter your phone number">
                </div>
            </div>
            <div class="col-6">
                <div class="input-group mb-3">
                    <span class="input-group-text">Password again</span>
                    <input type="text" aria-label="passswordagain" class="form-control" placeholder="Enter your phone number">
                </div>
            </div>
        </div>
    
        <div class="row justify-content-end">
            <div class="col-1">
                <button type="submit" class="btn btn-sm btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>